<div class="green-center-container" id="descNavResponsiveEvolutions">
  <div class="green-center-line"></div>
  <div>
    <div class="green-center-circle">
      <mat-icon fontIcon="arrow_downward"></mat-icon>
    </div>
  </div>
  <div class="green-center-line"></div>
</div>
<div class="first information">
  <div class="img-container">
    <div class="img-background">
      <img src="../../../../assets/img/gym.png" />
    </div>
    <div class="body-text">
      <div class="container-neon">
        <div class="title">
          <h1 id="navResponsiveEvolutions">Como funciona?</h1>
          <div class="green-line"></div>
          <p>
            "Entenda o <span>passo a passo</span> para <span>contratar</span> o
            acompanhamento"
          </p>
        </div>
        <div
          *ngFor="let mensagem of mensagensPassoAPasso"
          class="neon hidden"
          #speechBubble
          (click)="elasticEffect(speechBubble)"
        >
          <div>
            <div class="icon-container">
              <mat-icon [fontIcon]="getNeonIcon(mensagem)"></mat-icon>
            </div>
            <p [innerHTML]="mensagem"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="green-center-container" id="navResponsiveInformations">
  <div class="green-center-line"></div>
  <div>
    <div class="green-center-circle">
      <mat-icon fontIcon="arrow_downward"></mat-icon>
    </div>
  </div>
  <div class="green-center-line"></div>
</div>
<div class="second information">
  <div class="img-container">
    <div class="img-background">
      <img src="../../../../assets/img/fundo-texto.png" />
    </div>
    <div class="body-text">
      <div class="container-neon">
        <div class="title">
          <h1>Para quem é?</h1>
          <div class="green-line"></div>
          <p>
            "O <span>acompanhamento</span> é bastante
            <span>flexível,</span> atendendo desde..."
          </p>
        </div>
        <div
          *ngFor="let mensagem of mensagensParaQuem"
          class="neon hidden-right"
          #speechBubble
          (click)="elasticEffect(speechBubble)"
        >
          <div>
            <div class="icon-container">
              <mat-icon [fontIcon]="mensagem.icon"></mat-icon>
            </div>
            <p [innerHTML]="mensagem.text"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
