.body {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.evolutions{
  height: 850px;
}


@media (max-width: 600px) {

  .text-mobile-gap{
    height: 450px;
  }
}


