* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.body {
  padding-top: 60px;
  overflow: hidden;
}

.navigation {
  position: relative;
  height: 70px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navigation ul {
  display: flex;
  width: 315px;
  cursor: pointer;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 45px;
  height: 70px;
  z-index: 1;
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
  margin-top: 3px;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 68px;
  text-align: center;
  transition: 0.5s;
  transform: translateY((-10px));
  color: white;
}

.navigation ul li.active a .icon {
  transform: translateY((-40px));
}

.navigation ul li a .text {
  position: absolute;
  font-weight: 400;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
  margin-top: 5px;
}

.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(13px);
}

.indicator {
  position: absolute;
  top: -50%;
  width: 45px;
  height: 45px;
  background: #367c3d;
  border-radius: 50%;
  border: 6px solid black;
  transition: 0.5s;
}

.indicator-aux {
  position: absolute;
  width: 45px;
  height: 45px;
  top: -17%;
  left: -21%;
  background: #367c3d;
  border-radius: 50%;
  border: 6px solid black;
  transition: 0.5s;
  z-index: 2;
}

.indicator::before {
  content: "";
  position: absolute;
  width: 125vw;
  height: 80px;
  left: 30px;
  top: -10px;
  border-top-left-radius: 50px;
  border-left: 6px solid black;
  background: black;
  transition: 0.5s;
}

.indicator::after {
  content: "";
  position: absolute;
  width: 98.8vw;
  height: 80px;
  left: -99.3vw;
  top: -10px;
  border-top-right-radius: 50px;
  border-left: 10px solid black;
  background: black;
  transition: 0.5s;
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(45px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(45px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(45px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(45px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(45px * 4));
}

.navigation ul li:nth-child(6).active ~ .indicator {
  transform: translateX(calc(45px * 5));
}

.navigation ul li:nth-child(7).active ~ .indicator {
  transform: translateX(calc(45px * 6));
}

.nav-button-local {
  width: 20px;
}

.shadow-container {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  margin-bottom: 65px;
}
