<div class="body">
  <!-- <div class="shadow-container">
    <div [ngStyle]="getNavBarStyle('L')"></div>
    <div>
      <div class="nav-button-local"></div>
    </div>
    <div [ngStyle]="getNavBarStyle('R')"></div>
  </div> -->
  <div class="navigation">
    <ul>
      <li
        class="list"
        [class.active]="currentIndex === 0"
        (click)="setActive(0)"
      >
        <a>
          <span class="icon"
            ><mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="home"
            ></mat-icon>
          </span>
          <p class="text">Início</p>
        </a>
      </li>
      <li
        class="list"
        [class.active]="currentIndex === 1"
        (click)="setActive(1)"
      >
        <a>
          <span class="icon"
            ><mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="trending_up"
            ></mat-icon
          ></span>
          <p class="text">Resultados</p>
        </a>
      </li>
      <li
        class="list"
        [class.active]="currentIndex === 2"
        (click)="setActive(2)"
      >
        <a>
          <span class="icon"
            ><mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="sms"
            ></mat-icon
          ></span>
          <p class="text">Como Funciona?</p>
        </a>
      </li>
      <li
        class="list"
        [class.active]="currentIndex === 3"
        (click)="setActive(3)"
      >
        <a>
          <span class="icon"
            ><mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="done_all"
            ></mat-icon
          ></span>
          <p class="text">Entregas</p>
        </a>
      </li>
      <li
        class="list"
        [class.active]="currentIndex === 4"
        (click)="setActive(4)"
      >
        <a>
          <span class="icon"
            ><mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="attach_money"
            ></mat-icon
          ></span>
          <p class="text">Planos</p>
        </a>
      </li>
      <li
        class="list"
        [class.active]="currentIndex === 5"
        (click)="setActive(5)"
      >
        <a>
          <span class="icon"
            ><mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="person"
            ></mat-icon
          ></span>
          <p class="text">Sobre Mim</p>
        </a>
      </li>
      <li
        class="list"
        [class.active]="currentIndex === 6"
        (click)="setActive(6)"
      >
        <a>
          <span class="icon"
            ><mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="contact_support"
            ></mat-icon
          ></span>
          <p class="text">FAQ</p>
        </a>
      </li>
      <div class="indicator"><div class="indicator-aux"></div></div>
    </ul>
  </div>
</div>
