.navigation {
  position: fixed;
  width: 100%;
  top: 82vh;
  z-index: 2;
}

.navigation-footer-fixed {
  opacity: 0;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white;
}

p {
  font-size: 13px;
}

b {
  font-weight: 500;
}

@media (max-width: 750px) {
  .navigation {
    top: 70vh;
    position: absolute;
    animation: appearRevert .5s ease-in-out;
  }
  .navigation-fixed {
    opacity: 0;
    transform: translateY(10vw);
  }
  .appear {
    position: fixed;
    top: unset;
    bottom: 120px;
    animation: appear .5s ease-in-out;
  }

  @keyframes appearRevert {
    from {
      opacity: 0;
      transform: translateY(10vw);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes appear {
    from {
      opacity: 0;
      transform: translateY(-10vw);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}


@keyframes left-appear {
  from {
    opacity: 0;
    transform: translateX(-200vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.left-appear {
  animation: left-appear 1s ease-out;
}


.global-container{
  animation: initial-blur 2s ease-out;
}


@keyframes initial-blur {
  from {
    filter: blur(100px);
    opacity: 0;
  }
  to {
    filter: blur(0);
    opacity: 1;
  }
}