.navigation-aux {
  background-color: black;
  position: fixed;
  width: 100%;
  height: 50px;
  transition: none;
  z-index: 2;
}

.navigation {
    position: absolute;
    width: 100%;
    transition: none;
    margin-top: 78vh;
    z-index: 2;
}

.navigation-fixed {
  position: fixed;
  width: 100%;
  transition: none;
  background-color: black;
  z-index: 3;
  top: -30px;
}

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white; 
}

p {
  font-size: 13px;
}

b{
  font-weight: 500;
}



@media (max-width: 750px) {
  .navigation {
    margin-top: 65vh;
  }
}
