.navigation {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 2;
  animation: initialAppear 3s ease-in-out;
}

.navigation-footer-transition {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-150px);
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white;
}

p {
  font-size: 13px;
}

b {
  font-weight: 500;
}

@media (max-width: 750px) {
  .navigation {
    top: 68vh;
    position: absolute;
    animation: appearRevert 0.5s ease-in-out;
  }
  .navigation-transition {
    opacity: 0;
    transform: translateY(10vw);
  }
  .appear {
    position: fixed;
    top: unset;
    bottom: 0px;
    animation: appear 0.5s ease-in-out;
  }
  @keyframes appearRevert {
    from {
      opacity: 0;
      transform: translateY(5vw);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes appear {
    from {
      opacity: 0;
      transform: translateY(-10vw);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@keyframes initialAppear {
  from {
    opacity: 0;
    transform: translateY(20vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.global-container {
  animation: initial-blur 2s ease-out;
}

@keyframes initial-blur {
  from {
    filter: blur(100px);
    opacity: 0;
  }
  to {
    filter: blur(0);
    opacity: 1;
  }
}
