<div class="green-center-line"></div>

<div class="background-container">
  <img
    class="background"
    src="../../../../assets/img/testeaboutmepng.png"
    alt="Descrição da imagem"
  />
</div>
<div class="body">
  <div class="title">
    <h1>
      <span><b>Bruno Corrêa</b></span>
    </h1>
    <p>Seu novo nutricionista!</p>
  </div>
  <div class="content">
    <h1>Sobre mim</h1>
    <p>
      Um nutricionista <span class="destaque">apaixonado</span> por promover
      saúde e bem-estar através da alimentação balanceada. Possui
      <span class="destaque">formação</span> em Nutrição Clínica e Esportiva,
      capacitando clientes para alcançar seus objetivos. Seu compromisso vai
      além da dieta, enfatizando um estilo de vida
      <span class="destaque">equilibrado</span>.
    </p>
    <p>
      Um nutricionista <span class="destaque">apaixonado</span> por promover
      saúde e bem-estar através da alimentação balanceada. Possui
      <span class="destaque">formação</span>.
    </p>
  </div>
</div>
