<div class="green-center-line"></div>
<div class="background-container">
  <img
    class="background " 
    src="../../../../assets/img/testeaboutmepng.png"
    alt="Descrição da imagem"
  />
</div>
<div class="body">
  <div class="title hidden">
    <h1>
      <span><b>Quem sou eu?</b></span>
    </h1>
    <p>Seu novo nutricionista!</p>
  </div>
  <div class="content">
    <h1 class="hidden">Sobre mim</h1>
    <p class="hidden">
      Olá, sou o Bruno Corrêa, formado em nutrição, pós graduado em nutrição
      clínica e exportiva, bacharelando em educação física.
    </p>
    <p class="hidden">
      Atualmente já atendi
      <span class="destaque">mais de 1500 pessoas</span> entregando excelentes
      resultados para centenas que foram compromissadas com o acompanhamento.
    </p>
    <p id="navResponsiveAboutMe" class="hidden">
      Trabalho com atletas (principalmente fisiculturismo), pessoas comuns desde
      melhora da composição corporal (emagrecimento e ganho de massa muscular),
      até tratamento de patologias.
    </p>
  </div>
</div>
