.background-container {
  position: absolute;
  z-index: -1;
  width: 100%;
  overflow: hidden;
  height: 500px;
  display: flex;
  align-items: flex-end;
}

.background {
  position: relative;
  width: 120%;
}

.body {
  width: 90%;
  padding: 10px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.green-center-line {
  width: 100%;
  height: 1px;
  background-color: rgba(76, 175, 80, 0.5);
}
