<div class="body">
  <div class="container">
    <div class="content">
      <div class="logo-container">
        <img src="../../../../assets/img/new-logo.png" />
      </div>
    </div>
    <div class="content">
      <div>
        <p>Team Correa<i class="fas fa-dumbbell"></i></p>
      </div>
    </div>
    <div class="content">
      <div #insta (click)="openInstagram(insta)" class="insta">
        <p>Desenvolvido por Patryck <i class="fab fa-instagram"></i></p>
      </div>
    </div>
    <div class="content">
      <div>
        <p>2024<mat-icon>copyright</mat-icon></p>
      </div>
    </div>
  </div>
</div>
