<div class="body">
  <div>
    <div class="title">
      <h1>
        O que <span><b>esperar</b></span> do acompanhamento?
      </h1>
    </div>
    <div class="content">
      <ul>
        <li>
          <p>
            Você não precisa sofrer com <span>dietas</span> mirabolantes,
            restrições e <span>terrorismos</span> alimentares para alcançar o
            físico que sonha, o processo pode ser muito mais fácil e simples do
            que imagina, basta que você tenha acompanhamento com um profissional
            que realmente saiba o que faz.
          </p>
        </li>
        <li>
          <p>
            Para isso, estou aqui lhe proporcionando a
            <span>oportunidade</span> de fazer parte de um time de sucesso, que
            vem entregando resultados para centenas de pessoas, inclusive em
            outros países e continentes.
          </p>
        </li>
        <li>
          <p>
            Se você tem acesso a um aparelho celular e/ou computador e internet,
            você poderá conectar-se à minha plataforma digital em qualquer lugar
            do mundo e então poder acessar sua <span>dieta</span> e
            <span>treino</span> personalizado, trazendo maior praticidade,
            flexibilidade e disponibilidade para maximizar seus resultados.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="green-horizontal-line"></div>
