<div class="green-horizontal-line"></div>
<div class="body">
  <div class="title">
    <h1>
      <span><b>FAQ</b></span>
    </h1>
    <p>Aqui estão algumas das perguntas mais frequentes</p>
  </div>
  <div class="faq-container">
    <div class="content-container left">
      <div class="content">
        <span><h2>Como funciona o acompanhamento?</h2></span>
        <p>
          Ao contratar um plano, você irá receber sua dieta e/ou treino através
          da minha plataforma digital, além de receber todo o suporte necessário
          para solucionar seus problemas e dúvidas, através do WhatsApp.
        </p>
      </div>
      <div class="content">
        <span><h2>Quando acontece a mudança na dieta e treino?</h2></span>
        <p>
          Tanto a dieta quanto o treino, são periodizados, sendo alterados a
          cada 30 dias, dado o plano escolhido.
        </p>
      </div>
    </div>
    <div class="line-of-icons">
      <div class="content">
        <div class="green-center-line"></div>
      </div>
      <div class="content">
        <i class="fas fa-comments"></i>
      </div>
      <div class="content">
        <div class="green-center-line"></div>
      </div>
      <div class="content">
        <i class="fas fa-comments"></i>
      </div>
      <div class="content">
        <div class="green-center-line"></div>
      </div>
      <div class="content bottom">
        <i class="fas fa-comments bottom-green-line"></i>
      </div>
      <div class="content bottom">
        <div class="green-center-line bottom-green-line"></div>
      </div>
      <div class="content bottom">
        <i class="fas fa-comments bottom-green-line"></i>
      </div>
      <div class="content bottom">
        <div class="green-center-line bottom-green-line"></div>
      </div>
    </div>
    <div class="content-container">
      <div class="content">
        <span><h2>Como funciona a renovação dos planos?</h2></span>
        <p>
          Ao contratar um plano, você está contratando um período específico,
          sendo mensal 30 dias, trimestral 90 dias e semestral 180 dias, ao
          finalizar a quantidade de dias de cada plano eu entro em contato
          avisando sobre a renovação. Ao ser avisado, você tem até 2 dias para
          renovar seu plano, caso não seja renovado automaticamente sua vaga
          será disponibilizada para outro cliente, sendo assim você perderá sua
          vaga de acompanhamento, precisando esperar até que surja novas vagas
          para entrar para o acompanhamento novamente.
        </p>
      </div>
      <div class="content">
        <span><h2>Quais são as formas de pagamento?</h2></span>
        <p>
          As formas de pagamento são cartão dividido em até 6 vezes com
          adicional de juros, ou pagamento por pix.
        </p>
      </div>
      <div class="content bottom">
        <span><h2>Como funciona o acompanhamento?</h2></span>
        <p>
          Ao contratar um plano, você irá receber sua dieta e/ou treino através
          da minha plataforma digital, além de receber todo o suporte necessário
          para solucionar seus problemas e dúvidas, através do WhatsApp.
        </p>
      </div>
      <div class="content bottom">
        <span><h2>Quando acontece a mudança na dieta e treino?</h2></span>
        <p>
          Tanto a dieta quanto o treino, são periodizados, sendo alterados a
          cada 30 dias, dado o plano escolhido.
        </p>
      </div>
    </div>
  </div>
</div>
