<div class="green-horizontal-line"></div>
<div class="body">
  <div class="title">
    <h1>
      <span><b>FAQ</b></span>
    </h1>
    <p class="inf">Aqui estão algumas das perguntas mais frequentes</p>
  </div>
  <div>
    <div class="green-center-line"></div>
  </div>
  <div class="icon-container">
    <div class="content">
      <span><h2>Como funciona...?</h2></span>
      <p>
        Um nutricionista apaixonado por promover saúde e bem-estar através da
        alimentação balanceada. Possui formação.
      </p>
    </div>
    <i class="fas fa-comments"></i>
    <div class="content">
      <span><h2>Como funciona...?</h2></span>
      <p>
        Um nutricionista apaixonado por promover saúde e bem-estar através da
        alimentação balanceada. Possui formação.
      </p>
    </div>
  </div>
  <div>
    <div class="green-center-line"></div>
  </div>
  <div class="icon-container">
    <div class="content">
      <span><h2>Como funciona...?</h2></span>
      <p>
        Um nutricionista apaixonado por promover saúde e bem-estar através da
        alimentação balanceada. Possui formação.
      </p>
    </div>
    <i class="fas fa-comments"></i>
    <div class="content">
      <span><h2>Como funciona...?</h2></span>
      <p>
        Um nutricionista apaixonado por promover saúde e bem-estar através da
        alimentação balanceada. Possui formação.
      </p>
    </div>
  </div>
  <div>
    <div class="green-center-line"></div>
  </div>
  <div class="icon-container">
    <div class="content">
      <span><h2>Como funciona...?</h2></span>
      <p>
        Um nutricionista apaixonado por promover saúde e bem-estar através da
        alimentação balanceada. Possui formação.
      </p>
    </div>
    <i class="fas fa-comments"></i>
    <div class="content">
      <span><h2>Como funciona...?</h2></span>
      <p>
        Um nutricionista apaixonado por promover saúde e bem-estar através da
        alimentação balanceada. Possui formação.
      </p>
    </div>
  </div>
  <div>
    <div class="green-center-line"></div>
  </div>
</div>
