<!-- <div class="start-button-container" #startButtonContainer>
  <button
    class="start-button"
    #startButton
    (click)="playVideo(startButton, startButtonContainer, videoElement)"
  >
    Start
  </button>
</div> -->
<div class="background-overlay"></div>
<!-- <div class="video-container">
  <video #videoElement autoplay muted loop class="background-video">
    <source
      src="../../../../assets/video/bokeh_-_5243 (360p).mp4"
      type="video/mp4"
    />
    Adicione outros formatos de vídeo aqui, se necessário O seu navegador não
    suporta vídeos HTML5.
  </video>
</div> -->
<div class="logo-container">
  <!-- <button (click)="playVideo()">Iniciar Vídeo</button> -->

  <!-- <p #logo (click)="elasticEffect(logo)">Team Corrêa ©</p> -->
  <img
    #logo
    (click)="elasticEffect(logo)"
    src="../../../../assets/img/new-logo.png"
  />
  <!-- <button
    class="button"
    routerLink="/ebook"
  >
    <p>(Experimental) E-Book <i class="fas fa-angle-double-right"></i></p>
  </button> -->
</div>
<div class="rows presentation-panel">
  <div class="floating-text-container">
    <div class="floating-text">
      <h2>
        Descubra como um acompanhamento
        <span> individualizado e adaptado</span> para seus objetivos pode te
        <span>levar ao físico que sempre sonhou</span>
      </h2>
      <div>
        <p>
          Transforme seu corpo de maneira saudável por meio de estratégias
          nutricionais e de treinamento embasadas em evidências científicas
        </p>
        <button
          class="button"
          #buttonFloating
          (click)="openWhatsApp(buttonFloating)"
          target="_blank"
        >
          <p>Saiba Mais <i class="fas fa-angle-double-right"></i></p>
        </button>
      </div>
    </div>
  </div>
  <div class="image-container">
    <div class="speech-bubble-container">
      <div
        class="speech-bubble"
        #speechBubble
        (click)="elasticEffect(speechBubble)"
      >
        Já imaginou alcançar seus objetivos sem abrir mão de comer o que gosta?
      </div>
    </div>
    <img
      class="img-entrada"
      src="../../../../assets/img/img-sem-fundo.png"
      alt="Descrição da imagem"
    />
    <div class="circle-container">
      <div class="circle"></div>
    </div>
  </div>
</div>
<div class="black-panel">
  <div class="floating-mobile-text">
    <h2>
      Descubra como um acompanhamento
      <span> individualizado e adaptado</span> para seus objetivos pode te
      <span>levar ao físico que sempre sonhou</span>
    </h2>
    <div>
      <p>
        Transforme seu corpo de maneira saudável por meio de estratégias
        nutricionais e de treinamento embasadas em evidências científicas
      </p>
      <button
        class="button"
        #mobileButtonFloating
        (click)="openWhatsApp(mobileButtonFloating)"
        target="_blank"
      >
        <p>Saiba Mais <i class="fas fa-angle-double-right"></i></p>
      </button>
    </div>
  </div>
</div>
