
<div class="background-overlay"></div>
<app-p-background></app-p-background>
<div class="logo-container">
  <img
    #logo
    (click)="elasticEffect(logo)"
    src="../../../../assets/img/new-logo.png"
  />
</div>
<div class="rows presentation-panel">
  <div class="floating-text-container">
    <div class="floating-text">
      <h2>
        Descubra como um acompanhamento
        <span> individualizado e adaptado</span> para seus objetivos pode te
        <span>levar ao físico que sempre sonhou</span>
      </h2>
      <div>
        <p>
          Transforme seu corpo de maneira saudável por meio de estratégias
          nutricionais e de treinamento embasadas em evidências científicas
        </p>
        <button
          class="button"
          #buttonFloating
          (click)="openWhatsApp(buttonFloating)"
          target="_blank"
        >
          <p>Saiba Mais <i class="fas fa-angle-double-right"></i></p>
        </button>
      </div>
    </div>
  </div>
  <div class="image-container">
    <div class="speech-bubble-container">
      <div
        class="speech-bubble"
      >
        Já imaginou alcançar seus objetivos sem abrir mão de comer o que gosta?
      </div>
    </div>
    <img
      class="img-entrada"
      src="../../../../assets/img/img-sem-fundo.png"
      alt="Descrição da imagem"
    />
    <div class="circle-container">
      <div class="circle"></div>
    </div>
  </div>
</div>
<div id="heightPresentation" class="black-panel">
  <div class="floating-mobile-text">
    <h2>
      Descubra como um acompanhamento
      <span> individualizado e adaptado</span> para seus objetivos pode te
      <span>levar ao físico que sempre sonhou</span>
    </h2>
    <div>
      <p>
        Transforme seu corpo de maneira saudável por meio de estratégias
        nutricionais e de treinamento embasadas em evidências científicas
      </p>
      <button
        class="button"
        #mobileButtonFloating
        (click)="openWhatsApp(mobileButtonFloating)"
        target="_blank"
      >
        <p>Saiba Mais <i class="fas fa-angle-double-right"></i></p>
      </button>
    </div>
  </div>
</div>
