.logo-container {
  position: absolute;
  width: 100%;
  overflow: hidden;
  display: flex;
  height: 110px;
  align-items: center;
  justify-content: center;
}

.logo-container img {
  height: 125px;
}


.background-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, black 20%, #18381a 90%);
  z-index: -1;
}

.image-container {
  z-index: -1;
  position: relative;
  height: 100%;
  align-items: flex-end;
  display: flex;
  justify-content: center;
  width: 100%;
}

.image-container img {
  height: 600px;
}

.circle {
  height: 700px;
  width: 600px;
  border-radius: 50%;
  top: 180px;
  position: relative;
  background-color: #4caf4fa6;
  animation: balanco 3s ease-in-out infinite;
}

.circle-container {
  position: absolute;
  z-index: -1;
  width: 100%;
  text-align: -webkit-center;
  animation: entrada 1s ease-out forwards;
}

.presentation-panel {
  height: 700px;
  overflow: hidden;
}

.floating-text-container {
  width: 100%;
  border-radius: 10px;
  animation: floatAnimation 3s ease-in-out infinite;
  display: flex;
  justify-content: center;
}
.floating-text {
  width: 80%;
}

.floating-mobile-text {
  position: relative;
  padding: 15px;
  text-align: center;
  background-color: black;
  display: none;
  padding-top: 70px;
}

.highlight-color {
  color: #4caf50; /* Cor de destaque no tema de saúde e nutrição */
}

.clicked-elastic {
  animation: elasticMotion 1s ease-out;
}

.button {
  display: inline-block;
  background-color: #4caf50; /* Cor do botão seguindo o tema */
  text-decoration: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.button:hover {
  background-color: #367c3d; /* Cor mais escura no hover */
}

.rows {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
  align-items: center;
}

.img-entrada {
  animation: entradaDaImagem 1s ease-out; /* Ajuste a duração conforme necessário */
}

.speech-bubble {
  width: 105px;
  background: linear-gradient(to top, #17381971 20%, #62836571 90%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 1px solid #ffffff85; /* Adiciona uma borda de 1px com cor #ffffff85 */
  padding: 10px;
  font-size: 13px;
}

.speech-bubble-container {
  position: absolute;
  top: 130px;
  left: 0;
  animation: floatAnimation 3s ease-in-out infinite;
}

@media (max-width: 750px) {
  .floating-text-container {
    display: none;
  }
  .floating-mobile-text {
    display: block;
  }
  .black-panel {
    display: block;
  }
  .speech-bubble-container {
    left: 10%;
  }
}

@keyframes elasticMotion {
  0%,
  100% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(2px) scaleY(1.1);
  }
  30% {
    transform: translateX(-2px) scaleY(0.9);
  }
  50% {
    transform: translateX(1px) scaleY(1.05);
  }
  70% {
    transform: translateX(-1px) scaleY(0.95);
  }
  90% {
    transform: translateX(0.5px) scaleY(1);
  }
}

@keyframes floatAnimation {
  0%,
  100% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
}

@keyframes entradaDaImagem {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes balanco {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(12deg);
  }
}

@keyframes entrada {
  0% {
    left: 100%; /* Fora da tela à direita */
  }
  100% {
    left: 0; /* Chegando à posição original */
  }
}
