<div class="green-center-line"></div>
<div class="title space">
  <h1>
    <span><b>Planos</b></span>
  </h1>
  <p>Qual o melhor plano para voce?</p>
</div>
<div class="title">
  <p class="inf">Clique nas opções que deseja para contratar seu plano</p>
</div>
<div class="plans">
  <div class="plan-container" *ngFor="let plan of plans">
    <div class="title-plan">
      <h1>{{ plan.type }}</h1>
    </div>
    <div class="green-center-line"></div>
    <div class="plan">
      <mat-radio-group
        [value]="plan.selectedPlan"
        (change)="onChangeSelectedPlan($event, plan.id)"
      >
        <mat-radio-button value="1">Mensal</mat-radio-button>
        <mat-radio-button value="2">Trimes.</mat-radio-button>
        <mat-radio-button value="3">Semes.</mat-radio-button>
      </mat-radio-group>
      <div>
        <p [innerHTML]="plan.describe"></p>
      </div>
      <div class="buttons">
        <div *ngIf="plan.selectedPlan == '1'">
          <div>
            <h1>Preço Mensal</h1>
            <p>R$ </p>
            <h2>{{ plan.normal }}</h2>
            <p>,00/Mês</p>
          </div>
        </div>
        <div *ngIf="plan.selectedPlan == '2'">
          <div>
            <h1>Preço Trimestral</h1>
            <p>R$ </p>
            <h2>{{ plan.valorTrimestral }}</h2>
            <p>,00/Mês</p>
          </div>
        </div>
        <div *ngIf="plan.selectedPlan == '3'">
          <div>
            <h1>Preço Semestral</h1>
            <p>R$ </p>
            <h2>{{ plan.valorSemestral }}</h2>
            <p>,00/Mês</p>
          </div>
        </div>
      </div>
      <div *ngIf="true">
        <p>Total de R$ {{ getTotalPlan(plan) }},00</p>
      </div>
      <div>
        <button class="button" target="_blank">
          <p>Contratar <i class="fas fa-angle-double-right"></i></p>
        </button>
      </div>
    </div>
  </div>
</div>
