.plans {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.green-center-line {
  width: 100%;
  height: 1px;
  background-color: rgba(49, 114, 51, 1);
}

.plan-container {
  padding: 10px;
  height: 500px;
  width: 300px;
  margin: 10px auto;
  background-color: rgba(46, 46, 46, .7);
  text-align: center;
}
p {
  text-align: left;
}
.plan {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 380px;
}

.title-plan {
  height: 80px;
}

.space{
  padding-top: 20px !important;
}

h1 {
  font-size: 28px;
}

.buttons h2,
p {
  display: inline-block;
}

.inf {
  font-size: 9pt !important;
}

.title {
  padding: 10px;
  text-align: center;
  margin: auto;
  border-bottom: 1px solid silver;
  font-family: Arial, sans-serif;
  width: 75%;
}

.title h1 {
  font-size: 36px;
  margin-bottom: 6px;
}

.title p {
  font-size: 18px;
  margin-bottom: 4px;
}

::ng-deep .mdc-label {
  color: #fff;
}

@media (min-width: 750px) {
  .plans {
    flex-direction: row;
  }
  .plan-container {
    margin: 30px auto;
  }
}
