.plans {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.green-center-line {
  width: 100%;
  height: 1px;
  background-color: rgba(49, 114, 51, 0.5);
}

.plan-container {
  padding: 10px;
  height: 500px;
  width: 300px;
  margin: 10px auto;
  background-color: rgba(46, 46, 46, .7);
  text-align: center;
}
p {
  text-align: left;
}
.plan {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 380px;
}

.title-plan {
  height: 80px;
}

h1 {
  font-size: 28px;
}

.buttons h2,
p {
  display: inline-block;
}

.inf {
  font-size: 9pt !important;
}

.title {
  padding: 10px;
  text-align: center;
  margin: auto;
  border-bottom: 1px solid silver;
  font-family: Arial, sans-serif;
  width: 75%;
}

.title h1 {
  font-size: 36px;
  margin-bottom: 6px;
}

.title p {
  font-size: 18px;
  margin-bottom: 4px;
}

::ng-deep .mdc-label {
  color: #fff;
}

::ng-deep .mdc-radio__native-control:checked + .mdc-radio__background,
.mdc-radio__native-control:disabled + .mdc-radio__background {
  transition: opacity 120ms 0ms cubic-bezier(green),
    transform 120ms 0ms cubic-bezier(green) !important;
}

::ng-deep
  .mat-mdc-radio-button.mat-mdc-radio-checked
  .mdc-radio__background::before {
  background-color: green !important;
}

::ng-deep
  .mat-mdc-radio-button
  .mdc-radio
  .mdc-radio__native-control:enabled:checked
  + .mdc-radio__background
  .mdc-radio__outer-circle {
  border-color: green !important;
}

::ng-deep
  .mat-mdc-radio-button
  .mdc-radio
  .mdc-radio__native-control:enabled
  + .mdc-radio__background
  .mdc-radio__inner-circle {
  border-color: green !important;
}

@media (min-width: 750px) {
  .plans {
    flex-direction: row;
  }
  .plan-container {
    margin: 30px auto;
  }
}
