<div class="protocol">
  <div class="green-center-container">
    <div class="green-center-line"></div>
    <div>
      <div class="green-center-circle">
        <mat-icon fontIcon="arrow_downward"></mat-icon>
      </div>
    </div>
    <div class="green-center-line"></div>
  </div>

  <div class="speech-bubble-container">
    <div class="speech-bubble one">
      <div>Treinos periodizados</div>
      <mat-icon fontIcon=" fitness_center"></mat-icon>
    </div>
    <div class="speech-bubble two">
      <div>Dieta individualizada</div>
      <mat-icon fontIcon="fastfood "></mat-icon>
    </div>
    <div class="speech-bubble three">
      <div>Avaliação física</div>
      <mat-icon fontIcon="accessibility_new"></mat-icon>
    </div>
    <div class="speech-bubble four">
      <div>Mudança de hábitos</div>
      <mat-icon fontIcon="restaurant"></mat-icon>
    </div>
  </div>
  <div class="footer-container">
    <div class="footer" [innerHTML]="text"></div>
  </div>
</div>
