<div class="protocol">
  <div class="background-container">
    <img
      class="background"
      src="../../../../assets/img/imig7.jpeg"
      alt="Descrição da imagem"
    />
  </div>
  <div class="silver-line-container">
    <div class="silver-line">
      <div class="title">
        <h1>
          <span><b>Cronograma</b></span>
        </h1>
        <p>Como vai funcionar?</p>
      </div>
    </div>
  </div>
  <div class="green-center-container">
    <div class="green-center-line"></div>
  </div>

  <div class="speech-bubble-container">
    <div class="speech-bubble one">
      <div class="rotate">
        <p>Treinos periodizados</p>
        <mat-icon fontIcon="fitness_center"></mat-icon>
      </div>
    </div>
    <div class="speech-bubble two">
      <div class="rotate">
        <p>Dieta individualizada</p>
        <mat-icon fontIcon="restaurant"></mat-icon>
      </div>
    </div>
    <div class="speech-bubble three">
      <div class="rotate">
        <p>
          Avaliação <br />
          física
        </p>
        <mat-icon fontIcon="accessibility_new"></mat-icon>
      </div>
    </div>
    <div class="speech-bubble four">
      <div class="rotate">
        <p>Mudança de hábitos</p>
        <mat-icon fontIcon="fastfood"></mat-icon>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <div class="footer">
      <h1>
        O que <span><b>esperar</b></span> do 
        acompanhamento?
      </h1>
    </div>
    <div class="text-footer">
      <ul>
        <li>
          Você não precisa sofrer com dietas mirabolantes, restrições e
          terrorismos alimentares para alcançar o físico que sonha , o processo
          pode ser muito mais fácil e simples do que imagina , basta que você
          tenha acompanhamento com um profissional que realmente saiba o que
          faz.
        </li>
        <li>
          Para isso , estou aqui lhe proporcionando a oportunidade de fazer
          parte de um time de sucesso, que vem entregando resultados para
          centenas de pessoas , inclusive em outros países e continentes
        </li>
        <li>
          Se você tem acesso a um aparelho celular e/ou computador e internet,
          você poderá conectar-se á minha plataforma digital em qualquer lugar
          do mundo e então poder acessar sua dieta e treino personalizado,
          trazendo maior praticidade, flexibilidade e disponibilidade para
          maximizar seus resultados.
        </li>
      </ul>
    </div>
  </div>
</div>
