<div class="protocol">
  <div class="background-container">
    <img
      class="background"
      src="../../../../assets/img/imig7.jpeg"
      alt="Descrição da imagem"
    />
  </div>
  <div class="silver-line-container">
    <div class="silver-line">
      <div class="title">
        <h1>
          <span><b>Cronograma</b></span>
        </h1>
        <p>Como vai funcionar?</p>
      </div>
    </div>
  </div>
  <div class="green-center-container">
    <div class="green-center-line"></div>
    <div>
      <div class="green-center-circle">
        <mat-icon fontIcon="arrow_downward"></mat-icon>
      </div>
    </div>
    <div class="green-center-line"></div>
  </div>

  <div class="speech-bubble-container">
    <div class="speech-bubble one">
      <div class="rotate">
        <p>Treinos periodizados</p>
        <mat-icon fontIcon="fitness_center"></mat-icon>
      </div>
    </div>
    <div class="speech-bubble two">
      <div class="rotate">
        <p>Dieta individualizada</p>
        <mat-icon fontIcon="fastfood "></mat-icon>
      </div>
    </div>
    <div class="speech-bubble three">
      <div class="rotate">
        <p>
          Avaliação <br />
          física
        </p>
        <mat-icon fontIcon="accessibility_new"></mat-icon>
      </div>
    </div>
    <div class="speech-bubble four">
      <div class="rotate">
        <p>Mudança de hábitos</p>
        <mat-icon fontIcon="restaurant"></mat-icon>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <div class="footer">
      <h1>
        O acompanhamento <br />
        é <span><b>bastante </b></span>flexível!
      </h1>
      <p>atendendo desde:</p>
    </div>
    <div class="text-footer">
      <ul>
        <li>
          Atletas (Alta performance no fisiculturismo, futebol, ciclismo,
          maratonas e demais...)
        </li>
        <li>
          Pessoas comuns (ganho de massa muscular/emagrecimento/mudança de
          composição corporal)
        </li>
        <li>
          Pessoas com patologias (como diabetes, obesidade, hipertensão,
          colesterol alto, doenças intestinais inflamatórias, etc...)
        </li>
      </ul>
    </div>
  </div>
</div>