.background-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 1220px;
  z-index: -1;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 750px) {
  .background {
    height: 750px !important;
  }
  .background-container{
    height: 770px !important;
  }
  .speech-bubble-container{
    row-gap: 20px !important;
  }
  .protocol{
    height: 1490px !important;
  }
  .one {
    right: 6% !important;
  }
  .two {
    right: 12% !important;
  }
  .three {
    right: 23% !important;
  }
  .four {
    right: 40% !important;
  }
}

.background {
  position: relative;
  border-bottom-right-radius: 300px;
  box-shadow: 0 0 25px rgba(76, 175, 80, 0.5);
  height: 1200px;
  left: -25px;
}

.protocol {
  position: relative;
  height: 1750px;
  background-color: rgba(0, 0, 0, 0.5);
}

.silver-line-container {
  position: absolute;
  height: 100%;
  display: flex;
  z-index: 1;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
  bottom: 50px;
}

.silver-line {
  position: relative;
  width: 90%;
  height: 93%;
  border-bottom-left-radius: 100px;
  border-left: 2px solid rgba(76, 175, 80, 0.5);
  border-bottom: 2px solid rgba(76, 175, 80, 0.5);
  padding: 15px;
  bottom: 5px;
  overflow: hidden;
}

.title {
  border-bottom: 2px solid silver;
  font-family: Arial, sans-serif;
  width: 200px;
}

.title h1 {
  font-size: 36px;
  margin-bottom: 6px;
}

.title p {
  font-size: 18px;
  margin-bottom: 4px;
}

.green-center-line {
  height: 1px;
  width: 100%;
  background-color: rgba(76, 175, 80, 0.5);
}

.green-center-circle {
  border: 2px solid rgba(76, 175, 80, 0.5);
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.green-center-circle mat-icon {
  height: 50px;
  font-size: 50px;
  width: 50px;
  color: rgba(76, 175, 80, 0.5);
  position: absolute;
}

.green-center-container {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  width: 100%;
  top: -26px;
  position: absolute;
}

.speech-bubble-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 130px;
  top: 160px;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.speech-bubble-container mat-icon {
  font-size: 50px;
  height: 100%;
  width: 100%;
  transform: translateY(13px);
  color: #4caf50;
}

.rotate {
  transform: translateZ(20px);
}

.speech-bubble {
  position: relative;
  background: linear-gradient(to right, #f8f8f81a 10%, #15ff001f 90%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  box-shadow: 2px -1px 10px 0.1px rgba(0, 255, 0, 0.5);
  border-radius: 50%;
  height: 100px;
  width: 120px;
  text-align: center;
  padding: 10px;
  font-size: 12px;
  text-transform: uppercase;
  border: 1px solid rgba(76, 175, 79, 0.514);
  border-bottom: none;
  border-left: none;
}

.speech-bubble p {
  margin-top: 5px;
}

.footer-container {
  position: absolute;
  height: 100%;
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  overflow: hidden;
  bottom: 50px;
}

.footer {
  position: relative;
  height: 200px;
  width: 90%;
  border-top-right-radius: 500px;
  padding: 15px;
  font-size: 14px;
  bottom: 5px;
  border-right: 2px solid rgba(76, 175, 80, 0.5);
  align-self: center;
  background-color: black;
  box-shadow: 20px -30px 20px -42px rgba(76, 175, 80, 0.5);
  animation: shadowAnimation 4s ease-in-out infinite;
}

.footer h1 {
  transform: translateY(65px);
  font-size: 34px;
}
.footer p {
  transform: translateY(65px);
  font-size: 20px;
}

.text-footer {
  background-color: black;
  border-bottom-left-radius: 100px;
  width: 90%;
  padding: 15px;
  border-right: 2px solid rgba(76, 175, 80, 0.5);
  align-self: center;
  transform: translateY(-7px);
}

.text-footer li {
  transform: translateY(-60px);
  margin-bottom: 10px;
}

.one,.two,.three,.four {
  right: 10%;
  transform-style: preserve-3d;
  animation: rotateY 4s infinite linear;
}

@keyframes rotateY {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(10deg);
  }
  50% {
    transform: rotateY(0deg);
  }
  75% {
    transform: rotateY(-10deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes shadowAnimation {
  0%,
  100% {
    box-shadow: 20px -30px 20px -42px rgba(76, 175, 80, 0.5);
  }
  50% {
    box-shadow: 15px -20px 20px -40px rgba(76, 175, 80, 0.5);
  }
}
