// @import "~ngx-materialize/dist/index";

span {
  color: #4caf50;
  font-weight: 600; /* Cor de destaque no tema de saúde e nutrição */
}

button {
  padding: 10px 15px 0px; /* Aumentei um pouco o padding para destacar o botão */
}

body {
  margin: 0px;
}

::-webkit-scrollbar {
  width: 0.1px; /* Defina a largura da barra de rolagem como 0 */
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* Cor do "polegar" (barra de rolagem) */
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  transition: 0.5s;
}

.button {
  display: inline-block;
  background-color: #4caf50; /* Cor do botão seguindo o tema */
  text-decoration: none;
  border: none;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

.button:hover {
  background-color: #367c3d; /* Cor mais escura no hover */
}

.hidden {
  animation: left-desaparecer 1s ease-out;
}

.show {
  animation: left-appear 1s ease-out;
}

.clicked-elastic {
  animation: elasticMotion 1s ease-out;
}


@keyframes elasticMotion {
  0%,
  100% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(2px) scaleY(1.1);
  }
  30% {
    transform: translateX(-2px) scaleY(0.9);
  }
  50% {
    transform: translateX(1px) scaleY(1.05);
  }
  70% {
    transform: translateX(-1px) scaleY(0.95);
  }
  90% {
    transform: translateX(0.5px) scaleY(1);
  }
}


@keyframes left-appear {
  from {
    opacity: 0;
    transform: translateX(-30vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes left-desaparecer {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-50vw);
  }
}

.hidden-right {
  animation: right-desaparecer 1s ease-out;
}

.show-right {
  animation: right-appear 1s ease-out;
}

@keyframes right-appear {
  from {
    opacity: 0;
    transform: translateX(30vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes right-desaparecer {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(50vw);
  }
}
