* {
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  color: #fff; /* Cor de texto para informações adicionais */
  transition: 0.5s ;
}

button {
  padding: 10px 15px 0px; /* Aumentei um pouco o padding para destacar o botão */
}

p {
  font-size: 10pt;
  color: #fff; /* Cor de texto para informações adicionais */
}

body {
  margin: 0px;
}

::-webkit-scrollbar {
  width: 0.1px; /* Defina a largura da barra de rolagem como 0 */
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* Cor do "polegar" (barra de rolagem) */
}

.logo-container {
  z-index: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  padding-top: 40px;
  font-size: 20pt;
  color: #ffffff85;
  display: flex;
  justify-content: center;
}

.logo-container p {
  border: 1px solid #ffffff85; /* Adiciona uma borda de 1px com cor #ffffff85 */
  border-radius: 10px;
  width: 125px;
  padding: 2px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
