mat-icon {
  z-index: 9999;
}

.insta-img {
  border-radius: 15px;
}

.body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.6;
  transition: 0.5s;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: silver;
  row-gap: 10px;
}

section {
  background-color: black;
  width: 91%;
  max-width: 8.5in;
  padding: 20px;
  height: 528px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container-img-max {
  height: 300px; /* altura fixa */
}
.container-img-min {
  height: 150px; /* altura fixa */
}

.container-img {
  width: 100%; /* largura fixa */
  overflow: hidden; /* esconde conteúdo que ultrapassa a div */
  display: flex; /* usa flexbox para centralizar */
  justify-content: center; /* centraliza horizontalmente */
  align-items: center; /* centraliza verticalmente */
  border: 1px solid #ccc; /* apenas para visualização */
  opacity: 0.5;
  border-radius: 15px;
}

.container-img img {
  max-width: 100%; /* impede que a imagem ultrapasse a largura da div */
  object-fit: contain;
}

header {
  border: 1px solid yellow;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

p,
ul {
  font-size: 12pt;
  margin: 0;
}

li {
  margin: 5px 0;
}

h1 {
  font-size: 36px;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  font-size: 28px;
}

footer {
  background-color: #3333339d;
  padding: 20px;
  border-radius: 30px;
}

span {
  color: yellow;
  font-weight: 500;
}
